html{
    font-size: 62.5%;
    }
body{
    color: #fff;
    background: url(../../public/img/bg/bg.svg) , linear-gradient(180deg, #7084A5 0%, #ABA6BE 57%, #D4B0B5 100%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: serif;
    font-size: 1.4rem;
    padding: 2rem 12rem 2rem;
}

a{
    color: #fff;
    text-decoration: none;
    pointer-events: all;
}
li{
    list-style: none;
}

