@use "sass:color";
@use "asset" as ast;

%itemttl{
    font-size: 1.8rem;
    border-bottom: 1px solid #fff;
    width: fit-content;
    margin: 4rem auto;
}

%flexC{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bgc($color: #fff){
    width: 31rem;
    height: 25rem;
    border-radius: 10px;
    background-color: $color;
}