@use "sass:color";
@use "asset" as ast;

%itemttl{
    font-size: 1.8rem;
    border-bottom: 1px solid ast.$white;
    width: fit-content;
    margin: 4rem auto;
}

@mixin workBg($color: ast.$white){
    width: 44rem;
    height: 33rem;
    border-radius: 10px;
    background-color: $color;
    padding: 2rem;
    text-align: center;
    }

@mixin flex($justify: center, $gap: 4rem){
    display: flex;
    justify-content: $justify;
    align-items: center;
    gap: $gap;
}