@use "sass:color";
@use "asset" as ast;

%itemttl{
    font-size: 1.8rem;
    border-bottom: 1px solid #fff;
    width: fit-content;
    margin: 4rem auto;
}

%flexC{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

}

@mixin workBg($color: #fff){
    width: 44rem;
    height: 33rem;
    border-radius: 10px;
    background-color: $color;
    padding: 2rem;
    text-align: center;
    }