@use "sass:color";
@use "asset" as ast;
@use "extend" as ext;

body{
    height: 100vh;
}

.itemttl{
    @extend %itemttl;
}

.workWrap{
    @extend %flexC;
    align-items: flex-start;
    img{
        width: 50%;
        border-radius: 20px;
    }
    h2{
        padding: 2rem 0;
    }
}
.workDetail{
    padding-top: 4rem;
    ul{
        display: flex;
        gap: 2rem;
        line-height: 3rem;
    }
}
.workLink{
    width: fit-content;
    margin-top: 4rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    font-size: 1.6rem;
}