@use "sass:color";
@use "asset" as ast;
@use "extend" as ext;

body{
    height: 100vh;
}

.workWrap{
    @include ext.flex(center, 6rem);
    align-items: flex-start;
    margin-top: 15rem;
    img{
        width: 50%;
        border-radius: 20px;
    }
    h2{
        padding: 2rem 0;
    }
}
.workDetail{
    padding-top: 4rem;
    ul{
        display: flex;
        gap: 2rem;
        line-height: 3rem;
    }
}
.workLink{
    @include ext.flex(start, 3rem);
    margin-top: 4rem;
    div{
        @include ext.flex(center, 5px);
        border-radius: 5px;
        padding: 5px;
        border: 1px solid ast.$white;
        font-size: 1.6rem;
    }
}