@use "sass:color";
@use "asset" as ast;
@use "extend" as ext;

.itemttl{
    @extend %itemttl;
}

.workNav{
    @extend %flexC;
    gap: 2rem;
    margin-bottom: 4rem;
    :hover{
        color: ast.$blue;
    }
}

.webWrap{
    @extend %flexC;
    gap: 4rem;
    flex-wrap: wrap;

    .noname{
            @include ext.workBg(rgba(255, 252, 220, 0.40));
        }
    .sumeru-to{
            @include ext.workBg(rgba(188, 205, 232, 0.40));
        }
    .cwc{
            @include ext.workBg(rgba(254, 249, 207, 0.40));
        }
    .obt{
            @include ext.workBg(rgba(29, 31, 76, 0.40));
        }
    .rekiteku{
            @include ext.workBg(rgba(129, 65, 65, 0.4));
        }
    .dekita{
            @include ext.workBg(rgba(142, 172, 202, 0.40));
        }
    .nameCard{
            @include ext.workBg(rgba(15, 18, 43, 0.4));
            img{
                width: 50%;
            }
        }
    .candle{
            @include ext.workBg(rgba(136, 77, 66,  0.4));
            img{
                width: 45%;
            }
        }
    .dekitaG{
            @include ext.workBg(rgba(142, 172, 202, 0.40));
            img{
                width: 45%;
            }
        }
    .nonameG{
            @include ext.workBg(rgba(255, 252, 220, 0.40));
            img{
                width: 90%;
            }
        }
    .wallpaper{
        @include ext.workBg(rgba(241, 241, 241, 0.4));
        img{
            width: 100%;
        }
        }
    .wallpaper3{
        @include ext.workBg(rgba(25,38,75, 0.4));
        img{
            width: 45%;
        }
        }
    
    .gma{
        @include ext.workBg(rgba(59, 152, 191, 0.4));
        img{
            width: 45%;
        }
        }
}
