@use "sass:color";
@use "asset" as ast;
@use "extend" as ext;

.itemttl{
    @extend %itemttl;
}

.workNav{
    @extend %flexC;
    gap: 2rem;
    margin-bottom: 4rem;
}
.worksWrap{
    @extend %flexC;
    gap: 4rem;
    flex-wrap: wrap;
    .noname{
            @include ext.bgc(rgba(255, 252, 220, 0.40));
            
        }
    .sumeru-to{
            @include ext.bgc(rgba(188, 205, 232, 0.40));
        }
    .cwc{
            @include ext.bgc(rgba(254, 249, 207, 0.40));
        }
    .obt{
            @include ext.bgc(rgba(29, 31, 76, 0.40));
        }
    .rekiteku{
            @include ext.bgc(rgba(129, 65, 65, 0.4));
        }
    .dekita{
            @include ext.bgc(rgba(142, 172, 202, 0.40));
        }
}
