html(lang="ja")
    head
        include _head.pug 
        title portfolio
        link(rel="stylesheet", href="css/flyer.css")
        
    body
        include _nav.pug

        h2.itemttl Web
        include _workNav.pug

        .flyerWrap
            div
                img(src="img/character/kaikou.png", alt="傀逅")
                .text
                    p #傀逅
            div
                img(src="img/character/kirukiru.png", alt="キルキルイキル")
                .text
                    p #キルキルイキル
            div
                img(src="img/character/akuseka.png", alt="悪の組織が世界を救ったら悪いですか？")
                .text
                    p #悪の組織が世界を救ったら悪いですか？
            div
                img(src="img/character/gdm.png", alt="Good morning ALL")
                .text
                    p #Good morning ALL
            div
                img(src="img/character/akuseka2.webp", alt="悪の組織が世界を救ったら悪いですか？")
                .text
                    p #悪の組織が世界を救ったら悪いですか？（修正版）
            div
                img(src="img/character/syouseka.webp", alt="少年少女が世界を滅ぼしたら悪いですか？")
                .text
                    p #少年少女が世界を滅ぼしたら悪いですか？
