doctype html
html(lang="ja")
    head
        include _head.pug 
        title portfolio
        link(rel="stylesheet", href="css/index.css")
    body
        include _nav.pug
        .firstView 
            img(src="img/title.svg", alt="")
            img(src="img/bg/moon.svg", alt="").moon

        div 
            h2.itemttl Profile
            .profileWrap 
                .name
                    p もりお ゆうな
                    p 森尾 優菜
                .profile
                    p ECCコンピュータ専門学校マルチメディア研究学科Webデザインコース26年卒業予定
                    p フロントエンドエンジニア志望
                    p 2004/11.10 兵庫県出身
                    p 好きなものはボカロとゲームです
        div         
            h2.itemttl Works
            .worksWrap
                .work 
                    img(src="img/workIcon/noname.svg", alt="「no-name」").noname
                    .text
                        h3 「no-name」
                        p  現実から離れてリラックスできるカフェ
                        p 1年前期/個人制作
                .work 
                    img(src="img/workIcon/sumeru-to.svg", alt="「no-name」").sumeru-to
                    .text
                        h3 すめる〜と
                        p 電車内での苦手なにおいを事前に回避
                        p 1年後期/チーム制作
                .work 
                    img(src="img/workIcon/obt.svg", alt="「no-name」").obt
                    .text
                        h3 ODDBALLTALK
                        p 変わった趣味を持つ人と出会えるマッチングアプリ
                        p 1年後期/チーム制作
                .work 
                    img(src="img/workIcon/dekita.svg", alt="「no-name」").dekita
                    .text
                        h3 できた！ノート
                        p できたことを記録に残そう
                        p 2年前期/個人制作
            a(href="work.html").link 
                h3 see more
                <i class="fa-solid fa-backward"></i>


        div
            h2.itemttl Contact
            .contactWrap
                .contact
                    <i class="fa-solid fa-phone"></i>
                    p 070-1820-1448
                .contact
                    <i class="fa-solid fa-envelope"></i>
                    p morio.yuna01@gmail.com
                .contact 
                    <i class="fa-brands fa-github"></i>
                    p: a(href=" https://github.com/yuna011") github.com/yuna011