html(lang="ja")
    head
        include _head.pug 
        title portfolio
        link(rel="stylesheet", href="css/work.css")
    body
        include _nav.pug

                
        h2.itemttl Video
        include _workNav.pug
