doctype html
html(lang="ja")
    head
        include _head.pug 
        title portfolio
        link(rel="stylesheet", href="css/web.css")
    body
        include _nav.pug

                
        h2.itemttl Web
        include _workNav.pug

        .webWrap
            a(href="noname.html").work 
                img(src="img/workIcon/noname.svg", alt="「no-name」").noname
                .text
                    p no-name
                    p 1年前期/個人制作
                    p 対応デバイス
            a(href="https://2023-teamproject.vercel.app/").work 
                img(src="img/workIcon/sumeru-to.svg", alt="すめる〜と").sumeru-to
                .text
                    p すめる〜と
                    p 1年後期/チーム制作
                    p 対応デバイス
            a(href="https://click.ecc.ac.jp/ecc/ymorio/CwC/").work 
                img(src="img/workIcon/cwc.svg", alt="Connect with Cthulhu").cwc
                .text
                    p Connect with Cthulhu
                    p 1年後期/個人制作
                    p 対応デバイス
            a(href="").work 
                img(src="img/workIcon/obt.svg", alt="ODDBALLTALK").obt
                .text
                    p ODDBALLTALK
                    p 1年/チーム制作
                    p 対応デバイス
            a(href="").work 
                img(src="img/workIcon/rekiteku.svg", alt="歴てく").rekiteku
                .text
                    p 歴てく
                    p 2年/チーム制作
                    p 対応デバイス
            a(href="https://click.ecc.ac.jp/ecc/ymorio/dekitanote/public/taget.html").work 
                img(src="img/workIcon/dekita.svg", alt="できた！ノート").dekita
                .text
                    p できた！ノート
                    p 2年/個人制作
                    p 対応デバイス
